<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">Management</div>
        <ul class="pcoded-item pcoded-left-item">

            
                <li>
                    <a asp-controller="dashboard" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="feather icon-home"></i>
                        </span>
                        <span class="pcoded-mtext">Homepage</span>
                    </a>
                </li>
           

            <li>

                <a asp-controller="Feature" asp-action="index">
                    <span class="pcoded-micon">
                        <i class="fa-solid fa-question"></i>
                    </span>
                    <span class="pcoded-mtext">Features</span>
                </a>


            </li>
             
          
                <li>

                    <a asp-controller="Category" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="fa-solid fa-network-wired"></i>
                        </span>
                        <span class="pcoded-mtext">Categories</span>
                    </a>


                </li>

            <li>

                <a asp-controller="Slider" asp-action="index">
                    <span class="pcoded-micon">
                        <i class="fa-solid fa-network-wired"></i>
                    </span>
                    <span class="pcoded-mtext">Home Slider</span>
                </a>


            </li>
            <li>

                <a asp-controller="Setting" asp-action="index">
                    <span class="pcoded-micon">
                        <i class="fa-solid fa-network-wired"></i>
                    </span>
                    <span class="pcoded-mtext">Settings</span>
                </a>


            </li>
            

        </ul>
    </div>
</nav>




